.icon {
    display: inline-block;
    color: #dddddd;
    fill: currentColor;
    width: 20px;
    height: 20px;
    margin-right: .5em;
    vertical-align: bottom;
}

.primary .icon {
    width: 16px;
    height: 16px;
}

.parent > .icon-arrow-down {
    margin-left: 3px;
    margin-right: 0;
}

.icon-settings,
.icon-tree {
    color: $blue;
}

.icon-checkmark-circle {
    color: $green;
}

.icon-cancel-circle {
    color: $red;
}

.icon-move-up,
.icon-move-down {
    color: #222;
}

.item--published span,
.item--public span,
.hide-text span {
    @include hide-text();
}

@include breakpoint($small) {

    .primary .icon, .icon {
        width: 14px;
        height: 14px;
        vertical-align: baseline;
    }

    .item--up .icon,
    .item--down .icon {
        width: 24px;
        height: 24px;
    }


    .parent > .icon-user {
        margin-right: .5em;
    }

}