/* modal */

#overlayer{
    position:absolute;
    visibility: hidden;
    z-index: 1000;
}

#mcontent {
    background:#fefefe;
    padding:2em;
    box-shadow: 0px 2px 7px #292929;
    -moz-box-shadow: 0px 2px 7px #292929;
    -webkit-box-shadow: 0px 2px 7px #292929;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-align: left;
}
 
#overlayer .close {
    position: absolute;
    right: -10px;
    top: -10px;
    border-radius:10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    padding: 2px 7px;
    background: #555;
    color: #fff;
    cursor: pointer;
    z-index: 2000;
    text-decoration: none;
}