/*! responsive-nav.js 1.0.32 by @viljamis */

.js .nav-collapse {
  clip: rect(0 0 0 0);
  max-height: 0;
  position: absolute;
  display: block;
  overflow: hidden;
  zoom: 1;
  clear: right; // .nav-toggle is floated right
}

.nav-collapse.opened {
  max-height: 9999px;
}

.disable-pointer-events {
  pointer-events: none !important;
}

.nav-toggle {
  display: block;
  line-height: 2.625em; // 42/16
  padding-right: 2.625em;
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%220%200%2040%2040%22%3E%3Cpath%20d%3D%22M32%2018H8c-1.104%200-2%20.896-2%202s.896%202%202%202h24c1.106%200%202-.896%202-2s-.894-2-2-2zM8%2014h24c1.106%200%202-.896%202-2s-.894-2-2-2H8c-1.104%200-2%20.896-2%202s.896%202%202%202zm24%2012H8c-1.104%200-2%20.894-2%202s.896%202%202%202h24c1.106%200%202-.894%202-2s-.894-2-2-2z%22%20fill%3D%22%23ddd%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 1px;
  float: right;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  text-decoration: none;
}

@include breakpoint($small) {
  .js .nav-collapse {
    position: relative;
  }
  .js .nav-collapse.closed {
    max-height: none;
  }
  .nav-toggle {
    display: none;
  }
}

@include breakpoint($med) {
  .js .nav-collapse {
    position: absolute !important; // responsive-nav.js sets this to relative 
    clip: auto;
  }
}